<div class="uk-section-small fixed-footer">
    <div class="uk-inline uk-width-1-1 uk-flex-middle">
        <div class="uk-flex uk-flex-between">
            <p><a class="uk-link-heading" routerLink = "/" >
                © Arief Muhammad
            </a></p>
            <div class="uk-inline">
                <a mat-button href="https://www.instagram.com/ariefnrchman_/">
                    <span class="iconify" data-icon="mdi-instagram" data-inline="false"></span>
                </a>
                <a mat-button href="https://github.com/ariefjz">
                    <span class="iconify" data-icon="akar-icons:github-fill" data-inline="false"></span>
                </a>
                <a mat-button href="mailto:muhammad1900016082@webmail.uad.ac.id">
                    <span class="iconify" data-icon="mdi:gmail" data-inline="false"></span>
                </a>
            </div>
        </div>
    </div>
</div>